{% extends "main/base.html" %}
{% load static crispy_forms_field %}
{% block head %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'sources' %}">Sources</a></li>
                <li class="breadcrumb-item active" aria-current="page">New source</li>
            </ol>
        </nav>
        <form action="" method="post" enctype="multipart/form-data">
            <h1 class="d-flex align-items-center gap-3">
                <span class="flex-grow-1">New source</span>
                <button class="btn btn-success btn-lg" type="submit">Save</button>
            </h1>
            {% if form.non_field_errors %}
                <div class="alert alert-block alert-danger">
                    {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
                    <ul class="m-0">
                        {{ form.non_field_errors|unordered_list }}
                    </ul>
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    {% include "bootstrap5/layout/floating_field.html" with field=form.slug %}
                    {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.slug %}
                </div>
                <div class="col-sm-4">
                    {% include "bootstrap5/layout/floating_field.html" with field=form.name %}
                    {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.name %}
                </div>
                <div class="col-sm-4">
                    {% include "bootstrap5/layout/floating_field.html" with field=form.website %}
                    {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.website %}
                </div>
            </div>
            {% include "bootstrap5/layout/floating_field.html" with field=form.subtitle %}
            {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.subtitle %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label for="{{ form.icon.id_for_label }}" class="form-label">Icon</label>
                        <input type="file" name="{{ form.icon.name }}"
                               class="form-control{% if form.icon.errors %} is-invalid{% endif %}">
                        {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.icon %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label for="{{ form.header.id_for_label }}" class="form-label">Header image</label>
                        <input type="file" name="{{ form.header.name }}"
                               class="form-control{% if form.header.errors %} is-invalid{% endif %}">
                        {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.header %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mb-3">
                        <label for="{{ form.tint_colour.id_for_label }}" class="form-label">Tint colour</label>
                        {% crispy_field form.tint_colour 'class' 'form-control' field.tint_colour.label %}
                    </div>
                    {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.tint_colour %}
                </div>
            </div>
            {% include "bootstrap5/layout/floating_field.html" with field=form.description %}
            {% include "bootstrap5/layout/help_text_and_errors.html" with field=form.description %}
        </form>
    </div>
{% endblock %}