{% extends "main/base.html" %}
{% load static crispy_forms_tags humanize %}
{% block content %}
    <div class="container">
        <h1>Register Developer ID</h1>
        <p class="lead">
            Use the below token to register AltStore to your Apple Developer account.
            Your token will expire {{ token_expiry|naturaltime }} ({{ token_expiry|date:"F d, Y H:i:s e" }})
        </p>
        <p>
            <code>{{ token }}</code>
            <button class="btn btn-primary btn-sm" onclick="copy('{{ token }}')">Copy to clipboard</button>
        </p>
        <p>
            Information on how to use this token is available <a href="https://developer.apple.com/help/app-store-connect/distributing-apps-in-the-european-union/manage-distribution-on-an-alternative-app-marketplace" target="_blank">here</a>.
        </p>
    </div>
{% endblock %}